@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    background-image: radial-gradient(
      circle,
      rgba(133, 144, 128, 0.2),
      rgba(133, 144, 128, 0.1),
      rgba(128, 128, 128, 0)
    );
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    background-image: radial-gradient(
      circle,
      rgba(133, 144, 128, 0.2),
      rgba(133, 144, 128, 0.1),
      rgba(128, 128, 128, 0)
    );
  }
}

body {
  font-family: 'Barlow', sans-serif;
  font-display: swap;
}

nav {
  font-family: 'Anton', sans-serif;
  font-display: swap;
  font-size: 48px;
}
