apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  - deployment.yaml
  - postgresql.yaml
  - backup-secret.sealed.yaml
images:
  - name: ghcr.io/unkhz/ruuvipuserrin-archive
    newTag: ea902abe2ab023d809f5f0969cd7d26594599034
