apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  - deployment.yaml
images:
  - name: ghcr.io/unkhz/ruuvipuserrin-configurator
    newTag: 141a0a6fb39dcbd72727a52f3bcdb00a5c384f42
