apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  - deployment.yaml
images:
  - name: ghcr.io/unkhz/ruuvipuserrin-configurator
    newTag: 42a9fa843aae5bdec71734270acdb3f4b69eea87
