name: Pull request
on:
  pull_request:

jobs:
  test-ts:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - archive
          - common-archive-client
          - common-data
          - common-postgres
          - configurator
          - gatherer-http
          - gatherer-stdin
          - publisher

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: arduino/setup-task@v2
        with:
          version: 3.42.1
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version-file: '.bun-version'
      - run: bun install
      - run: task ${{ matrix.package }}:lint
      - run: task ${{ matrix.package }}:test

  build-base-images:
    if: ${{ ! endsWith(github.event.head_commit.message, '[skip ci]') }}
    needs: test-ts
    permissions:
      contents: write
      packages: write

    strategy:
      matrix:
        args:
          - context: .
            image: ghcr.io/unkhz/ruuvipuserrin-base-bun

    uses: ./.github/workflows/build-package.yml
    with:
      context: ${{ matrix.args.context }}
      image: ${{ matrix.args.image }}

  build-package-images:
    if: ${{ ! endsWith(github.event.head_commit.message, '[skip ci]') }}
    needs: build-base-images
    permissions:
      contents: write
      packages: write

    strategy:
      matrix:
        args:
          - context: ./packages/archive
            image: ghcr.io/unkhz/ruuvipuserrin-archive
          - context: ./packages/configurator
            image: ghcr.io/unkhz/ruuvipuserrin-configurator

    uses: ./.github/workflows/build-package.yml
    with:
      context: ${{ matrix.args.context }}
      image: ${{ matrix.args.image }}
